# Секреты и пароли (САМОЕ ВАЖНОЕ)
.env

# Виртуальное окружение (оно весит много и у каждого свое)
venv/

# База данных (чтобы не затереть данные на сервере своими локальными)
db.sqlite3

# Системный мусор Python
__pycache__/
*.pyc

# Настройки твоего редактора (VS Code)
.vscode/