{% extends 'main/base.html' %}
{% load static %}

{% block title %}Учебная база — Энергетик{% endblock %}

{% block content %}
<main class="min-h-screen bg-slate-50/50 pt-10">
    <div class="max-w-7xl mx-auto px-4 md:px-8">

        <!-- Заголовок (оставляем лаконичным) -->
        <div class="flex flex-col items-center md:items-start gap-4 mb-16">
                <h2 class="text-3xl md:text-5xl font-black text-[#4F589D] uppercase tracking-tight">
                    Учебная база
                </h2>
                <div class="h-1.5 w-24 bg-[#F59E0B] rounded-full"></div>
            </div>

        <!-- СПИСОК КАБИНЕТОВ -->
        <section class="max-w-7xl mx-auto px-6 pb-0">
            <div class="space-y-12">

                <!-- КАРТОЧКА КАБИНЕТА (Прямоугольная) -->
                <div
                    class="group bg-white rounded-[2.5rem] border border-slate-300 shadow-sm hover:shadow-2xl transition-all duration-500 overflow-hidden">
                    <div class="flex flex-col md:flex-row">

                        <!-- ТЕКСТОВАЯ ЧАСТЬ (Слева) -->
                        <div class="flex-grow p-8 md:p-12 lg:w-2/3">
                            <div class="flex items-center gap-4 mb-6">
                                <span class="text-xs font-black text-amber-500 uppercase tracking-widest">№ 01</span>
                                <div class="h-px flex-grow bg-slate-100"></div>
                            </div>

                            <h2
                                class="text-xl md:text-3xl font-black text-slate-900 uppercase tracking-tight mb-6 group-hover:text-[#F59E0B] transition-colors">
                                Лаборатория подстанционного оборудования
                            </h2>

                            <div class="grid md:grid-cols-2 gap-8">
                                <div>
                                    <h4 class="text-[10px] font-black text-slate-400 uppercase tracking-widest mb-3">
                                        Назначение</h4>
                                    <p class="text-slate-600 text-sm font-bold leading-relaxed">
                                        Предназначена для подготовки специалистов и рабочих методам диагностики
                                        выключателей
                                        различных типов и другого коммутационного оборудования
                                    </p>
                                </div>
                                <div>
                                    <h4 class="text-[10px] font-black text-slate-400 uppercase tracking-widest mb-3">
                                        Оснащение</h4>
                                    <div class="flex flex-wrap gap-2">
                                        <span
                                            class="text-[10px] px-2 py-1 bg-slate-100 text-slate-500 rounded font-bold">Вакуумные
                                            выключатели</span>
                                        <span
                                            class="text-[10px] px-2 py-1 bg-slate-100 text-slate-500 rounded font-bold">Масляные
                                            выключатели</span>
                                        <span
                                            class="text-[10px] px-2 py-1 bg-slate-100 text-slate-500 rounded font-bold">Элегазовые
                                            выключатели</span>
                                        <span
                                            class="text-[10px] px-2 py-1 bg-slate-100 text-slate-500 rounded font-bold">Трансформаторы
                                            напряжения</span>
                                        <span
                                            class="text-[10px] px-2 py-1 bg-slate-100 text-slate-500 rounded font-bold">Ячейки
                                            различных типов</span>
                                        <span
                                            class="text-[10px] px-2 py-1 bg-slate-100 text-slate-500 rounded font-bold">Учебно-тренировочный
                                            полигон «Альпинист 02-0»</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ФОТОГРАФИЯ (Справа) -->
                        <div class="custom-slider md:w-1/3 min-h-[300px] relative overflow-hidden bg-slate-200">
                            <img src="{% static 'main/img/base/kab1_1.JPG' %}" alt="Лаборатория ПО"
                                class="slide absolute inset-0 w-full h-full object-cover transition-opacity duration-1000 opacity-100">

                                                            <img src="{% static 'main/img/base/kab1_2.jpg' %}" alt="Лаборатория ПО"
                                class="slide absolute inset-0 w-full h-full object-cover transition-opacity duration-1000 opacity-0">

                                                            <img src="{% static 'main/img/base/kab1_3.jpg' %}" alt="Лаборатория ПО"
                                class="slide absolute inset-0 w-full h-full object-cover transition-opacity duration-1000 opacity-0">

                                                            <img src="{% static 'main/img/base/kab1_4.jpg' %}" alt="Лаборатория ПО"
                                class="slide absolute inset-0 w-full h-full object-cover transition-opacity duration-1000 opacity-0">

                                                            <img src="{% static 'main/img/base/kab1_5.jpg' %}" alt="Лаборатория ПО"
                                class="slide absolute inset-0 w-full h-full object-cover transition-opacity duration-1000 opacity-0">
                        </div>
                        

                    </div>
                </div>
                <!-- КОНЕЦ КАРТОЧКИ -->

                <!-- КАРТОЧКА КАБИНЕТА (Прямоугольная) -->
                <div
                    class="group bg-white rounded-[2.5rem] border border-slate-300 shadow-sm hover:shadow-2xl transition-all duration-500 overflow-hidden">
                    <div class="flex flex-col md:flex-row">

                        <!-- ТЕКСТОВАЯ ЧАСТЬ (Слева) -->
                        <div class="flex-grow p-8 md:p-12 lg:w-2/3">
                            <div class="flex items-center gap-4 mb-6">
                                <span class="text-xs font-black text-amber-500 uppercase tracking-widest">№ 02</span>
                                <div class="h-px flex-grow bg-slate-100"></div>
                            </div>

                            <h2
                                class="text-xl md:text-3xl font-black text-slate-900 uppercase tracking-tight mb-6 group-hover:text-[#F59E0B] transition-colors">
                                Лаборатория линий электропередач
                            </h2>

                            <div class="grid md:grid-cols-2 gap-8">
                                <div>
                                    <h4 class="text-[10px] font-black text-slate-400 uppercase tracking-widest mb-3">
                                        Назначение</h4>
                                    <p class="text-slate-600 text-sm font-bold leading-relaxed">
                                        Предназначена для для практического обучения, отработки навыков обслуживания
                                        воздушных линий и изучения современного высоковольтного оборудования
                                    </p>
                                </div>
                                <div>
                                    <h4 class="text-[10px] font-black text-slate-400 uppercase tracking-widest mb-3">
                                        Оснащение</h4>
                                    <div class="flex flex-wrap gap-2">
                                        <span
                                            class="text-[10px] px-2 py-1 bg-slate-100 text-slate-500 rounded font-bold">Тренажер
                                            для выполнения вязки проводов</span>
                                        <span
                                            class="text-[10px] px-2 py-1 bg-slate-100 text-slate-500 rounded font-bold">Инструменты,
                                            СИЗ, СКЗ</span>
                                        <span
                                            class="text-[10px] px-2 py-1 bg-slate-100 text-slate-500 rounded font-bold">Технологические
                                            карты</span>
                                        <span
                                            class="text-[10px] px-2 py-1 bg-slate-100 text-slate-500 rounded font-bold">Макет
                                            110кВ</span>
                                        <span
                                            class="text-[10px] px-2 py-1 bg-slate-100 text-slate-500 rounded font-bold">Наглядные
                                            пособия и стенды</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ФОТОГРАФИЯ (Справа) -->
                        <div class="custom-slider md:w-1/3 min-h-[300px] relative overflow-hidden bg-slate-200">
                          <img src="{% static 'main/img/base/kab2_1.jpg' %}" alt="Лаборатория ПО"
                                class="slide absolute inset-0 w-full h-full object-cover transition-opacity duration-1000 opacity-100">

                                                            <img src="{% static 'main/img/base/kab2_2.jpg' %}" alt="Лаборатория ПО"
                                class="slide absolute inset-0 w-full h-full object-cover transition-opacity duration-1000 opacity-0" >

                                                            <img src="{% static 'main/img/base/kab2_3.jpg' %}" alt="Лаборатория ПО"
                                class="slide absolute inset-0 w-full h-full object-cover transition-opacity duration-1000 opacity-0">

                                                            <img src="{% static 'main/img/base/kab2_4.jpg' %}" alt="Лаборатория ПО"
                                class="slide absolute inset-0 w-full h-full object-cover transition-opacity duration-1000 opacity-0">
                        </div>

                    </div>
                </div>
                <!-- КОНЕЦ КАРТОЧКИ -->

                <!-- КАРТОЧКА КАБИНЕТА (Прямоугольная) -->
                <div
                    class="group bg-white rounded-[2.5rem] border border-slate-300 shadow-sm hover:shadow-2xl transition-all duration-500 overflow-hidden">
                    <div class="flex flex-col md:flex-row">

                        <!-- ТЕКСТОВАЯ ЧАСТЬ (Слева) -->
                        <div class="flex-grow p-8 md:p-12 lg:w-2/3">
                            <div class="flex items-center gap-4 mb-6">
                                <span class="text-xs font-black text-amber-500 uppercase tracking-widest">№ 03</span>
                                <div class="h-px flex-grow bg-slate-100"></div>
                            </div>

                            <h2
                                class="text-xl md:text-3xl font-black text-slate-900 uppercase tracking-tight mb-6 group-hover:text-[#F59E0B] transition-colors">
                                Кабинет релейной защиты и автоматики
                            </h2>

                            <div class="grid md:grid-cols-2 gap-8">
                                <div>
                                    <h4 class="text-[10px] font-black text-slate-400 uppercase tracking-widest mb-3">
                                        Назначение</h4>
                                    <p class="text-slate-600 text-sm font-bold leading-relaxed">
                                        Предназначен для для подготовки персонала служб релейной защиты и автоматики
                                    </p>
                                </div>
                                <div>
                                    <h4 class="text-[10px] font-black text-slate-400 uppercase tracking-widest mb-3">
                                        Оснащение</h4>
                                    <div class="flex flex-wrap gap-2">
                                        <span
                                            class="text-[10px] px-2 py-1 bg-slate-100 text-slate-500 rounded font-bold">Панели
                                            ДФЗ-504 44, ЭПЗ-1636, ПЗ-4, ШДЭ-2801</span>
                                        <span
                                            class="text-[10px] px-2 py-1 bg-slate-100 text-slate-500 rounded font-bold">Установки
                                            для наладки и настройки сложных и простых элементов РЗиА</span>
                                        <span
                                            class="text-[10px] px-2 py-1 bg-slate-100 text-slate-500 rounded font-bold">Демонстрационные
                                            стенды по защите оборудования</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ФОТОГРАФИЯ (Справа) -->
                        <div class="custom-slider md:w-1/3 min-h-[300px] relative overflow-hidden bg-slate-200">
                          <img src="{% static 'main/img/base/kab3_1.jpg' %}" alt="Лаборатория ПО"
                                class="slide absolute inset-0 w-full h-full object-cover transition-opacity duration-1000 opacity-100">

                                                            <img src="{% static 'main/img/base/kab3_2.jpg' %}" alt="Лаборатория ПО"
                                class="slide absolute inset-0 w-full h-full object-cover transition-opacity duration-1000 opacity-0" >
                        </div>

                    </div>
                </div>
                <!-- КОНЕЦ КАРТОЧКИ -->

                <!-- КАРТОЧКА КАБИНЕТА (Прямоугольная) -->
                <div
                    class="group bg-white rounded-[2.5rem] border border-slate-300 shadow-sm hover:shadow-2xl transition-all duration-500 overflow-hidden">
                    <div class="flex flex-col md:flex-row">

                        <!-- ТЕКСТОВАЯ ЧАСТЬ (Слева) -->
                        <div class="flex-grow p-8 md:p-12 lg:w-2/3">
                            <div class="flex items-center gap-4 mb-6">
                                <span class="text-xs font-black text-amber-500 uppercase tracking-widest">№ 04</span>
                                <div class="h-px flex-grow bg-slate-100"></div>
                            </div>

                            <h2
                                class="text-xl md:text-3xl font-black text-slate-900 uppercase tracking-tight mb-6 group-hover:text-[#F59E0B] transition-colors">
                                Кабинет подготовки оперативного персонала
                            </h2>

                            <div class="grid md:grid-cols-2 gap-8">
                                <div>
                                    <h4 class="text-[10px] font-black text-slate-400 uppercase tracking-widest mb-3">
                                        Назначение</h4>
                                    <p class="text-slate-600 text-sm font-bold leading-relaxed">
                                        Предназначен для подготовки оперативно-диспетчерского персонала предприятий
                                        электрических сетей и электрических станций
                                    </p>
                                </div>
                                <div>
                                    <h4 class="text-[10px] font-black text-slate-400 uppercase tracking-widest mb-3">
                                        Оснащение</h4>
                                    <div class="flex flex-wrap gap-2">
                                        <span
                                            class="text-[10px] px-2 py-1 bg-slate-100 text-slate-500 rounded font-bold">Тренажер
                                            ТЭ-2М</span>
                                        <span
                                            class="text-[10px] px-2 py-1 bg-slate-100 text-slate-500 rounded font-bold">Моделирующие
                                            плановые переключения и решения аварийных ситуаций на станциях, подстанциях
                                            и в
                                            сетях напряжения от 6кВ до 220кВ</span>
                                        <span
                                            class="text-[10px] px-2 py-1 bg-slate-100 text-slate-500 rounded font-bold">Тренажер
                                            «Гоша» для отработки практических навыков по оказанию неотложной доврачебной
                                            помощи в чрезвычайных ситуациях</span>
                                        <span
                                            class="text-[10px] px-2 py-1 bg-slate-100 text-slate-500 rounded font-bold">Демонстрационные
                                            стенды по электробезопасности</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ФОТОГРАФИЯ (Справа) -->
                        <div class="custom-slider md:w-1/3 min-h-[300px] relative overflow-hidden bg-slate-200">
                          <img src="{% static 'main/img/base/kab4_1.jpg' %}" alt="Лаборатория ПО"
                                class="slide absolute inset-0 w-full h-full object-cover transition-opacity duration-1000 opacity-100">

                                                            <img src="{% static 'main/img/base/kab4_2.jpg' %}" alt="Лаборатория ПО"
                                class="slide absolute inset-0 w-full h-full object-cover transition-opacity duration-1000 opacity-0" >
                        </div>

                    </div>
                </div>
                <!-- КОНЕЦ КАРТОЧКИ -->

                <!-- КАРТОЧКА КАБИНЕТА (Прямоугольная) -->
                <div
                    class="group bg-white rounded-[2.5rem] border border-slate-300 shadow-sm hover:shadow-2xl transition-all duration-500 overflow-hidden">
                    <div class="flex flex-col md:flex-row">

                        <!-- ТЕКСТОВАЯ ЧАСТЬ (Слева) -->
                        <div class="flex-grow p-8 md:p-12 lg:w-2/3">
                            <div class="flex items-center gap-4 mb-6">
                                <span class="text-xs font-black text-amber-500 uppercase tracking-widest">№ 05</span>
                                <div class="h-px flex-grow bg-slate-100"></div>
                            </div>

                            <h2
                                class="text-xl md:text-3xl font-black text-slate-900 uppercase tracking-tight mb-6 group-hover:text-[#F59E0B] transition-colors">
                                Кабинет подъемных сооружений, ПБ и ОТ
                            </h2>

                            <div class="grid md:grid-cols-2 gap-8">
                                <div>
                                    <h4 class="text-[10px] font-black text-slate-400 uppercase tracking-widest mb-3">
                                        Назначение</h4>
                                    <p class="text-slate-600 text-sm font-bold leading-relaxed">
                                        Кабинет предназначен для подготовки персонала по промышленной безопасности, энергетической безопасности и охране труда.
                                    </p>
                                    <p class="text-slate-600 text-sm font-bold leading-relaxed mb-4">
                                    <p class="text-slate-600 text-sm font-bold leading-relaxed">
Кабинет оснащен натуральными образцами средств индивидуальной и коллективной защиты, наглядными пособиями и плакатами в области обслуживания грузоподъемных машин и механизмов, электроустановок.                                    </p>
                                </div>
                                <div>
                                    <h4 class="text-[10px] font-black text-slate-400 uppercase tracking-widest mb-3">
                                        Оснащение</h4>
                                    <div class="flex flex-wrap gap-2">
                                        <span
                                            class="text-[10px] px-2 py-1 bg-slate-100 text-slate-500 rounded font-bold">Макет башенного крана</span>

                                             <span
                                            class="text-[10px] px-2 py-1 bg-slate-100 text-slate-500 rounded font-bold">Образцы кранового оборудования</span>
                                             <span
                                            class="text-[10px] px-2 py-1 bg-slate-100 text-slate-500 rounded font-bold">Стенды по оборудованию БКМ и АГП</span>
                                            <span
                                            class="text-[10px] px-2 py-1 bg-slate-100 text-slate-500 rounded font-bold">Образцы и приспособления для вязки узлов позволяют учащимся освоить практические навыки в области обслуживания грузоподъемных машин и механизмов</span>
                                            <span
                                            class="text-[10px] px-2 py-1 bg-slate-100 text-slate-500 rounded font-bold">Компьютерные имитационные 3D-тренажеры Корпорации Диполь необходимы учащимся для отработки практических навыков при работах на энергообъектах</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ФОТОГРАФИЯ (Справа) -->
                        <div class="custom-slider md:w-1/3 min-h-[300px] relative overflow-hidden bg-slate-200">
                          <img src="{% static 'main/img/base/kab5_1.jpg' %}" alt="Лаборатория ПО"
                                class="slide absolute inset-0 w-full h-full object-cover transition-opacity duration-1000 opacity-100">

                                                            <img src="{% static 'main/img/base/kab5_2.jpg' %}" alt="Лаборатория ПО"
                                class="slide absolute inset-0 w-full h-full object-cover transition-opacity duration-1000 opacity-0" >
                                 <img src="{% static 'main/img/base/kab5_3.jpg' %}" alt="Лаборатория ПО"
                                class="slide absolute inset-0 w-full h-full object-cover transition-opacity duration-1000 opacity-0" >
                        </div>

                    </div>
                </div>
                <!-- КОНЕЦ КАРТОЧКИ -->

                <!-- КАРТОЧКА КАБИНЕТА (Прямоугольная) -->
                <div
                    class="group bg-white rounded-[2.5rem] border border-slate-300 shadow-sm hover:shadow-2xl transition-all duration-500 overflow-hidden">
                    <div class="flex flex-col md:flex-row">

                        <!-- ТЕКСТОВАЯ ЧАСТЬ (Слева) -->
                        <div class="flex-grow p-8 md:p-12 lg:w-2/3">
                            <div class="flex items-center gap-4 mb-6">
                                <span class="text-xs font-black text-amber-500 uppercase tracking-widest">№ 06</span>
                                <div class="h-px flex-grow bg-slate-100"></div>
                            </div>

                            <h2
                                class="text-xl md:text-3xl font-black text-slate-900 uppercase tracking-tight mb-6 group-hover:text-[#F59E0B] transition-colors">
                                Кабинеты тренажерной подготовки
                            </h2>

                            <div class="grid md:grid-cols-2 gap-8">
                                <div>
                                    <h4 class="text-[10px] font-black text-slate-400 uppercase tracking-widest mb-3">
                                        Назначение</h4>
                                    <p class="text-slate-600 text-sm font-bold leading-relaxed">
                                        Предназначены для предаттестационной(предэкзаменационной) подготовки персонала
                                        по
                                        промышленной, энергетической и экологической безопасности, а также по охране
                                        труда;
                                        тренажерной подготовки по рабочим профессиям согласно лицензии
                                    </p>
                                </div>
                                <div>
                                    <h4 class="text-[10px] font-black text-slate-400 uppercase tracking-widest mb-3">
                                        Оснащение</h4>
                                    <div class="flex flex-wrap gap-2">
                                        <span
                                            class="text-[10px] px-2 py-1 bg-slate-100 text-slate-500 rounded font-bold">Кабинеты
                                            оснащены 23 современными персональными компьютерами</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ФОТОГРАФИЯ (Справа) -->
                        <div class="custom-slider md:w-1/3 min-h-[300px] relative overflow-hidden bg-slate-200">
                          <img src="{% static 'main/img/base/kab6_1.jpg' %}" alt="Лаборатория ПО"
                                class="slide absolute inset-0 w-full h-full object-cover transition-opacity duration-1000 opacity-100">

                                                            <img src="{% static 'main/img/base/kab6_2.jpg' %}" alt="Лаборатория ПО"
                                class="slide absolute inset-0 w-full h-full object-cover transition-opacity duration-1000 opacity-0" >
                        </div>
                    </div>
                </div>
                <!-- КОНЕЦ КАРТОЧКИ -->

                <!-- КАРТОЧКА КАБИНЕТА (Прямоугольная) -->
                <div
                    class="group bg-white rounded-[2.5rem] border border-slate-300 shadow-sm hover:shadow-2xl transition-all duration-500 overflow-hidden">
                    <div class="flex flex-col md:flex-row">

                        <!-- ТЕКСТОВАЯ ЧАСТЬ (Слева) -->
                        <div class="flex-grow p-8 md:p-12 lg:w-2/3">
                            <div class="flex items-center gap-4 mb-6">
                                <span class="text-xs font-black text-amber-500 uppercase tracking-widest">№ 07</span>
                                <div class="h-px flex-grow bg-slate-100"></div>
                            </div>

                            <h2
                                class="text-base sm:text-xl md:text-3xl font-black text-slate-900 uppercase tracking-tight mb-6 group-hover:text-[#F59E0B] transition-colors">
                                Лаборатория психо&shy;физио&shy;логического обеспечения (ЛПФО)
                            </h2>

                            <div class="grid md:grid-cols-2 gap-8">
                                <div>
                                    <h4 class="text-[10px] font-black text-slate-400 uppercase tracking-widest mb-3">
                                        Назначение</h4>
                                    <p class="text-slate-600 text-sm font-bold leading-relaxed">
                                        Главной задачей ЛПФО является организация и проведение мероприятий, направленных
                                        на
                                        оценку состояния психологического здоровья и профессионального долголетия
                                        персонала,
                                        обеспечение его работоспособности
                                    </p>
                                </div>
                                <div>
                                    <h4 class="text-[10px] font-black text-slate-400 uppercase tracking-widest mb-3">
                                        Оснащение</h4>
                                    <div class="flex flex-wrap gap-2">
                                        <span
                                            class="text-[10px] px-2 py-1 bg-slate-100 text-slate-500 rounded font-bold">Зал
                                            психологической разгрузки</span>
                                        <span
                                            class="text-[10px] px-2 py-1 bg-slate-100 text-slate-500 rounded font-bold">Кабинет
                                            релаксационного массажа</span>
                                        <span
                                            class="text-[10px] px-2 py-1 bg-slate-100 text-slate-500 rounded font-bold">Кабинет
                                            компьютерной диагностики и тренажерной подготовки</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ФОТОГРАФИЯ (Справа) -->
                        <div class="custom-slider md:w-1/3 min-h-[300px] relative overflow-hidden bg-slate-200">
                          <img src="{% static 'main/img/base/kab7_1.jpg' %}" alt="Лаборатория ПО"
                                class="slide absolute inset-0 w-full h-full object-cover transition-opacity duration-1000 opacity-100">

                                                            <img src="{% static 'main/img/base/kab7_2.jpg' %}" alt="Лаборатория ПО"
                                class="slide absolute inset-0 w-full h-full object-cover transition-opacity duration-1000 opacity-0" >
                        </div>

                    </div>
                </div>
                <!-- КОНЕЦ КАРТОЧКИ -->

                <!-- КАРТОЧКА КАБИНЕТА (Прямоугольная) -->
                <div
                    class="group bg-white rounded-[2.5rem] border border-slate-300 shadow-sm hover:shadow-2xl transition-all duration-500 overflow-hidden">
                    <div class="flex flex-col md:flex-row">

                        <!-- ТЕКСТОВАЯ ЧАСТЬ (Слева) -->
                        <div class="flex-grow p-8 md:p-12 lg:w-2/3">
                            <div class="flex items-center gap-4 mb-6">
                                <span class="text-xs font-black text-amber-500 uppercase tracking-widest">№ 08</span>
                                <div class="h-px flex-grow bg-slate-100"></div>
                            </div>

                            <h2
                                class="text-xl md:text-3xl font-black text-slate-900 uppercase tracking-tight mb-6 group-hover:text-[#F59E0B] transition-colors">
                                Гостиница
                            </h2>

                            <div class="grid md:grid-cols-2 gap-8">
    <!-- Левая колонка: Заголовок и описание -->
    <div>
        <h4 class="text-[10px] font-black text-slate-400 uppercase tracking-widest mb-3">
            Гостиница при учебном центре
        </h4>
        <p class="text-slate-600 text-sm font-bold leading-relaxed mb-4">
            Учитесь и отдыхайте без забот: просто поднимитесь на третий этаж и отдохните в комфортных условиях.
        </p>
        <p class="text-slate-600 text-sm font-bold leading-relaxed mb-4">
            Светлые и просторные номера с необходимой мебелью, техникой, спутниковым ТВ и бесплатным Wi-Fi.
        </p>
    </div>

    <!-- Правая колонка: Преимущества в виде тегов -->
    <div>
        <h4 class="text-[10px] font-black text-slate-400 uppercase tracking-widest mb-3">
            Почему выбирают нас
        </h4>
        <div class="flex flex-wrap gap-2">
            <span class="text-[10px] px-2 py-1 bg-slate-100 text-slate-500 rounded font-bold">
                Прямо в учебном центре
            </span>
            <span class="text-[10px] px-2 py-1 bg-slate-100 text-slate-500 rounded font-bold">
                Спутниковое ТВ и Wi-Fi
            </span>
            <span class="text-[10px] px-2 py-1 bg-slate-100 text-slate-500 rounded font-bold">
                Уют как дома
            </span>
            <span class="text-[10px] px-2 py-1 bg-slate-100 text-slate-500 rounded font-bold">
                Чистота и забота
            </span>
        </div>
    </div>
</div>
                        </div>

                        <!-- ФОТОГРАФИЯ (Справа) -->
                        <div class="custom-slider md:w-1/3 min-h-[300px] relative overflow-hidden bg-slate-200">
                          <img src="{% static 'main/img/base/kab8_1.jpg' %}" alt="Лаборатория ПО"
                                class="slide absolute inset-0 w-full h-full object-cover transition-opacity duration-1000 opacity-100">

                                                            <img src="{% static 'main/img/base/kab8_2.jpg' %}" alt="Лаборатория ПО"
                                class="slide absolute inset-0 w-full h-full object-cover transition-opacity duration-1000 opacity-0" >
                        </div>

                    </div>
                </div>
                <!-- КОНЕЦ КАРТОЧКИ -->

            </div>
        </section>
    </div>
</main>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Находим все блоки с классом custom-slider
        const sliders = document.querySelectorAll('.custom-slider');

        sliders.forEach(slider => {
            const slides = slider.querySelectorAll('.slide');
            let currentSlide = 0;

            if (slides.length > 1) {
                setInterval(() => {
                    // Скрываем текущий
                    slides[currentSlide].classList.replace('opacity-100', 'opacity-0');
                    // Считаем индекс следующего
                    currentSlide = (currentSlide + 1) % slides.length;
                    // Показываем следующий
                    slides[currentSlide].classList.replace('opacity-0', 'opacity-100');
                }, 5000);
            }
        });
    });
</script>


{% endblock %}